mat-spinner {
  margin: auto;
}
mat-card {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
mat-form-field {
  display: block;
}
.btn-submit {
  display: block;
  margin-left: auto;
}
input[type="file"] {
  display: none;
}
.img-preview {
  display: inline-block;
  height: 5rem;
  margin: 1rem 0;
  padding: .5rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .1);
  border: 2px solid rgba(0, 0, 0, .3);
}
.img-preview img {
  height: 100%;
}
