<mat-card>
  <mat-spinner *ngIf="isLoading" diameter="60"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput name="title" placeholder="Título" type="text" minlength="3" [ngModel]="post?.title" #title="ngModel" required>
      <mat-error *ngIf="title.invalid">Deve conter um título de no minímo 3 letras.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput cdkTextareaAutosize placeholder="Texto" name="content" rows="5" minlength="10" [ngModel]="post?.content" #content="ngModel" required></textarea>
      <mat-error *ngIf="content.invalid">Deve conter texto!</mat-error>
    </mat-form-field>
    <button type="submit" mat-stroked-button color="primary">Enviar</button>
  </form>
</mat-card>
